/*
COLORS
Super Light Grey: #FCFCFC
Light Grey: #f7f7f7
Grey: #262626
Red: #c70039
Orange: #ff5733
Light Orange: #ff8d1a
Yellow: #ffc300
Neon green: #eddd53
Green: #add45c
Blueish green: #57c785
Light blue: #00baad
Blue: #2a7b9b
Dark blue: #3d3d6b
Purple: #511849
Mahogany: #900c3f
*/


html, body {
    padding: 0;
    margin: 0;
    display: inline;
    background-color: #00baad;
    font-family: 'Quicksand', sans-serif;
    color: #393939;
}

#logo{
    width: 150px;
    margin-left: 35px;
    margin-bottom: 25px;
}

nav{
    background-color: #00baad;
/*    display: none;*/
    width: 100%;
    height: 70px;
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    z-index: 2;
    position: absolute;
}

#sesion, #registrarse{
    float: right;
    background-color: #009e8f;
/*    background-color: #66b7f0;*/
    width: 130px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

#loguearse{
    float: right;
    background-color: #009e8f;
    /*    background-color: #66b7f0;*/
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

#sesion:hover, #registrarse:hover, #loguearse:hover{
    background-color: #eddd53;
}

#registrarse{
    width: 110px;
    margin-right: 10px;
}

#mainContainer{
    display: inline;
/*    padding-top: 50px;*/
}

#moduleContainer{
    float: left;
    padding: 40px;
    padding-top: 90px;
}

.list{
    width: auto;
    text-align: center;
}

#sidebar{
    display: block;
    background-color: #fff;
    min-width: 100px;
    width: 220px;
    height: 100%;
    float: left;
    z-index: 1;
    padding-top: 90px;
}

#sidebar ul li:hover{
    background-color: #488ec0;
}

.vertical-dropdown-menu{
    width: 220px;
}

#sidebar ul li a{
    font-weight: 700;
    color: #00baad;
    padding-left: 40px;
}

#drop-usuarios:hover{
    background-color: #c70039;
    color: #fff;
}

#drop-multas:hover{
    background-color: #ff5733;
    color: #fff;
}

#drop-puntos:hover{
    background-color: #ff8d1a;
    color: #fff;
}

#drop-tipos:hover{
    background-color: #ffc300;
    color: #fff;
}

#drop-reservas:hover{
    background-color: #add45c;
    color: #fff;
}

#drop-mantenimiento:hover{
    background-color: #00baad;
    color: #fff;
}

#drop-reportes:hover{
    background-color: #3d3d6b;
    color: #fff;
}

#loginContainer{
    height: auto;
    width: 300px;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin-top: 30px;
    margin-left: 500px;
    text-align: center;
}

#usuarios-create{
    margin-top: 0px;
}

#register-form{
    width: 250px;
    display: block;
    margin-top: 20px;
}

table{
    width: 80%;
}

th, td{
    background-color: #fff;
    color: #393939;
}

thead, tbody{
    border-radius: 5px !important;
}

input{
    border-radius: 5px !important;
    border-style: none !important;
}

button{
    height: 25px !important;
    width: auto;
}

.label.warning, .label.success, .label.alert, .success.button{
    border-radius: 5px !important;
}

span < button:disabled{
    background-color: #f7f7f7;
}

.new{
    margin-bottom: 20px;
}

.success.label{
    background-color: #57c785;
}

#loginbtn{
    background-color: #eddd53;
    font-weight: 700;
    font-size: 15px;
}

#loginbtn:hover{
    background-color: #DFD04F;
}

#registerbtn{
    background-color: #eddd53;
    font-weight: 700;
    font-size: 15px;
}

#registerbtn:hover{
    background-color: #DFD04F;
}

.top-bar-bike {
    padding: 0.5rem; }
.top-bar::before, .top-bar::after {
    content: ' ';
    display: table; }
.top-bar::after {
    clear: both; }
.top-bar,
.top-bar ul {
    background-color: #00BAAD; }
.top-bar input {
    max-width: 200px;
    margin-right: 1rem; }
.top-bar .input-group-field {
    width: 100%;
    margin-right: 0; }
.top-bar input.button {
    width: auto; }
.top-bar .top-bar-left,
.top-bar .top-bar-right {
    width: 100%; }
@media screen and (min-width: 40em) {
    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
        width: auto; } }
@media screen and (max-width: 63.9375em) {
    .top-bar.stacked-for-medium .top-bar-left,
    .top-bar.stacked-for-medium .top-bar-right {
        width: 100%; } }
@media screen and (max-width: 74.9375em) {
    .top-bar.stacked-for-large .top-bar-left,
    .top-bar.stacked-for-large .top-bar-right {
        width: 100%; } }
.top-bar-title {
    float: left;
    margin-right: 1rem; }

.top-bar-left {
    float: left; }

.top-bar-right {
    float: right; }